/* .swiper-container {
	height: 500px;
  } */

.swiper-slide{
	background: #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 60px;
}
.swiper-container{
	height: fit-content !important;
	margin: 50px 0;
}
.swiper-button-next, .swiper-button-prev{
	color: rgb(75, 37, 37) !important;
}


@media only screen and (max-width: 600px) {
	.swiper-container {
		width: 100% !important;

	  }
	.container{
		width: unset !important;
	} 
  } 

.swiper-container {

	height: 100%;
  }

  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #ccc;
	/* margin-right: 25px !important; */

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  .swiper-slide {
	  height: 300px !important;	
  }
 
  .swiper-button-next:after, .swiper-button-prev:after{
	  font-size: 24px !important;
  }

  .swiper-pagination .swiper-pagination-bullet{
	  transition: all ease 0.5s;
  }
  .swiper-pagination .swiper-pagination-bullet-active{
	border-radius: 10px !important;
	width: 32px !important;
	transition: all ease 0.5s;
  }